.card {
  position: relative;
  // max-width: 380px;
  // height: 60px;
  max-width: 980px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  &:hover {
    background-color: #000;
    opacity: 0.6;
    cursor: pointer;
    .card-close {
      color: #fff;
    }
  }
  &:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  &-figure {
    min-width: 100px;
    max-width: 100px;
    height: 100%;
    img {
      width: 50px;
    }
  }
  &-item {
    width: 100%;
    padding: 0px 10px;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    color: #fff;
    text-align: left;
    font-size: 14px;
    p {
      margin: 0px;
    }
    &-top {
      flex: 1;
      margin-top: 0px;
      &-title {
        display: block;
      }
      &-description {
        font-size: 12px;
      }
    }
    &-bottom {
      flex: 1;
      line-height: 29px;
      &-amount {
        a {
          font-size: 18px;
          padding: 0 4px;
        }
      }
      &-price {
        float: right;
        color: #dfbd00;
        font-weight: bold;
      }
    }
  }
  &-close {
    z-index: 9999;
  }
}

.list {
  max-width: 980px;
  padding: 20px;
  min-height: 300px;
  margin: 20px auto;
  background-color: #202025;
  &-icon {
    position: relative;
    text-align: center;
    &-qtd {
      width: 100%;
      position: absolute;
      bottom: 30px;
      left: 0px;
      strong {
        font-size: 12px;
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 auto;
        line-height: 20px;
        background-color: yellow;
        border-radius: 50%;
        color: #000;
      }
    }
    &-title {
      text-transform: uppercase;
      display: block;
      margin: 10px 0px;
      color: #fff;
      font-weight: bold;
    }
  }
  &-itens {
    height: 320px;
    overflow-y: scroll;
  }
}

.total-order {
  display: flex;
  flex: 1;
  max-width: 980px;
  padding: 10px;
  &-description {
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 12px;
    margin: 10px 0;
    &-title {
      font-size: 24px;
    }
    &-total {
      strong {
        font-size: 18px;
        color: #dfbd00;
      }
      em {
        display: block;
      }
    }
  }
}

.emptyBag {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #fff;
}

.link {
  font-size: 22px;
  color: #000;
  text-decoration: none;
}

.btn {
  padding: 15px 30px;
  border: 0;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background: #000;
  border: 1px solid #000;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
  bottom: 0;
  flex: 1;
  width: 100%;
  &-outline {
    background: transparent;
    border: 1px solid #fff;
  }
}
