<div class="card">
  <div class="card-box" *ngFor="let product of products">
    <div class="card-box-image">
      <a routerLink="['/', product.id]">
        <div>
          <img [src]="product.img" [alt]="product.title" />
        </div>
      </a>
    </div>
    <div class="card-box-content">
      <p class="card-box-content-title">{{product.title}}</p>
      <p class="card-box-content-price">
        <span>{{product.currencyFormat}}</span>
        <strong>{{product.price | price }}</strong>
      </p>
    </div>
  </div>
</div>

<div *ngIf="error">
  Não foi possivel carregar os produtos, tente novamente mais tarde
</div>