.product {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  // grid-gap: 30px;
  margin-top: 50px;
  position: relative;
  p {
    margin: 5px;
  }
  &-box {
    display: flex;
    flex-direction: column;
    &-content {
      align-items: center;
      display: grid;
      &-price {
        font-size: 28px;
        color: #202025;
      }
      &-sizes {
        a {
          color: #000;
          margin: 5px;
          display: block;
          padding: 0 7px;
          height: 28px;
          min-width: 28px;
          text-align: center;
          font-size: 0.6875rem;
          line-height: 26px;
          -webkit-border-radius: 20px;
          border-radius: 20px;
          font-weight: 700;
          text-decoration: none;
          border: 1px solid #ccc;
        }
      }
    }
    p {
      padding: 10px;
    }
    &-image {
      img {
        cursor: pointer;
        max-width: 100%;
        border-radius: 5px 5px 0 0;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &-center {
      display: flex;
      justify-content: center;
    }
  }
  .btn {
    display: inline-block;
    padding: 15px 30px;
    border: 0;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    background: #202025;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
  }
}

.info {
  right: 20%;
  top: 90px;
  height: 60px;
  width: 250px;
  padding: 10px;
  text-align: center;
  padding: 21px 0;
  background: #202025;
  color: yellow;
  border-radius: 4px;
  max-width: 500px;
  top: 40px;
  position: fixed;
  box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
}
