<div class="product" *ngIf="product !== undefined">

  <div class="product-box-image">
    <img [src]="product?.img" alt="" />
  </div>
  <span *ngIf="showInfo" class="info">Produto adicionado ao carrinho</span>
  <div class="product-box">
    <div class="product-box-content">
      <h4>{{product.title}} - {{product.style}}</h4>
      <p>{{product.description}}</p>

      <div class="product-box-content-price">
        <p>{{product.currencyFormat}} {{product.price | price}}</p>
      </div>

      <div>
        <p *ngIf="product?.isFreeShipping">Frete grátis</p>
      </div>

      <div> Tamanho: </div>
      <div class="product-box-content-sizes" style="display: flex; justify-content: center;">
        <div *ngFor="let sizes of product.availableSizes">
          <a (click)="selectSize(sizes)"> {{sizes}} </a>
        </div>
      </div>
    </div>

    <div class="product-box-center">
      <button class="btn" (click)="addItem()">ADICIONAR AO CARRINHO</button>
    </div>
  </div>
</div>